# Fichiers à ne pas sauvegarder.
#fichiers du répertoire ignore
./ignore/GoogleService-Info.plist
./ignore/history.md

# Xcode
## User settings
xcuserdata/
*.xcuserstate

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Accidental DS_Store files
.DS_Store
.DS_Store?
._*

# Fichiers de build
build/
DerivedData/

# Divers fichiers temporaires
*.swp
*.lock
profile
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Fichiers de crash et logs
*.log
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/